* {
  margin: 0;
  padding: 0;
  outline: none;

}

p {
  /*paragrafo*/
  text-indent: 1.5em;
  margin-top: 0
}

a.logo,
.nav-list a,
.tema2 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.01s;
  font-weight: bold;


}

a:hover {
  opacity: 0.7;
  color: #f78133;
}

.logo {
  font-size: 40px;
  text-transform: uppercase;
  height: 60px;
  letter-spacing: 10px;

}


.card-container {
  perspective: 700%;
  background-image: linear-gradient(30deg, rgb(255, 0, 0), rgb(0, 0, 0));
  width: 60%;
  /*centralizando a imagem*/
  margin: auto;
  display: block;
  width: 50vh;

}

.cardd {
  height: 500px;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  transition: transform .75s cubic-bezier(0.4, 0.03, 0.5, 0.9);

}

.card__image {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: 5px;
  backface-visibility: hidden;
}

.card__image:nth-child(2),
.cardd:hover {
  transform: rotate3d(1, 1, 0, 180deg);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(0deg, rgb(109, 0, 0), rgb(0, 0, 0));
  height: 8vh;

}

body {
  /*  background: url("img/back\ \(2\).jpg")
    no-repeat center center; centralizar no eixo X Y*/
  background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  background-size: cover;
  height: 92vh;

}

.nav-list {
  list-style: none;
  display: flex;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;

}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;

}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.0s;
}

.foto1 {
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  margin-left: 10%;
  margin-right: 10%;
  background-image: linear-gradient(90deg, rgb(216, 241, 247), rgb(0, 153, 255));
  height: 50%;
  width: 50%;
}

.foto2 {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 80%;
  background-color: #a0ddfa;
}

.texto1 {
  color: #fff;
  font-size: larger;
  text-align: justify;
  margin-left: 2vh;
  margin-right: 2vh;
}

.container_texto1 {
  background-color: #ff0000;
}

.texto2 {
  color: #fff;
  font-size: larger;
  text-align: justify;
  margin-left: 2vh;
  margin-right: 2vh;
}

.container_texto2 {
  background-color: #0077ff;
}


.flutuando {
  margin-top: -3%;
  display: flex;
  width: 30%;
  height: 20%;
  /*melhor em px*/
  transform: translatey(0px);
  animation: float 12S ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);


  }

  50% {
    transform: translateX(240%);

  }

  100% {

    transform: scaleX(-0.9);

  }

  0% {
    transform: translateY(0px);
    transform: scaleX(-0.9);
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }


}


.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  box-shadow: 1px 1px 2px black;
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
  box-shadow: 1px 1px 2px black;
}

#cumprimento {
  outline: 0;
  border: none;
  color: black;
  font-weight: 500;
  text-decoration: none;
  background-color: #fff;
}

.calculadora {
  background-color: #ffffff;
  border: 1px solid #f0d1d1;
  margin-left: 10vh;
  margin-right: 10vh;
  border-radius: 10px;

}

.calculadora button {
  border: 1px solid #0077ff;
  float: center;
  padding: 5px;
  border-radius: 60px;
  width: 100px;
  margin-bottom: 2px;
}

.calculadora button:hover {
  border: 1px solid #5d5d5e;
  background-color: #00e1ff;
  width: 100px;

}

.input_calc {
  cursor: pointer;
  border-radius: 10px;
  border: #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 2px solid #00e1ff;
}

.input_calc:focus {
  background-color: #00e1ff;
  font-weight: bold;
  outline: 0;
  font-size: 100%;
}

.input_calc:hover {
  background-color: #b0edfc;
}


.filtro {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
}

h6 {
  width: 100%;
  /*centralizando a imagem*/
  margin: auto;
  max-width: 15ch;
}

h6:hover {
  font-size: 15px;
}

h6:is(:hover, :focus) {
  background-image: linear-gradient(90deg, red, blue);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  font-weight: 900;
}

/*efeito digitação*/



.digitação {
  /*box-shadow: .2em 0 0 #05ffa3;*/
  margin: 2rem 1rem;
  width: 8ch;
  overflow: hidden;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: caret .5s step-end infinite alternate,
    type 1s steps(20, end);
}

@keyframes type {
  0% {
    width: 0;
  }
}

@keyframes caret {
  50% {
    box-shadow: .6em 0 0 transparent;
  }
}




/*******  EMAIL **********/




.campo-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(72, 44, 175, 0.404);
  width: 100%;
  position: relative;
}


.inputBox {
  position: relative;
  margin: 18px;
  width: 100%;

}

.inputUser {
  position: relative;
  font-size: 15px;
  padding-left: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(140, 0, 255);
  color: rgb(0, 0, 0);
  width: 100%;
  max-width: 90%;
}

.labelInput {
  position: absolute;
  top: 0px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}

.labelInputs {
  position: absolute;
  top: 10px;
  left: 110px;
  pointer-events: none;
  transition: .5s;

}

.inputUsers {
  font-size: 15px;
  padding-left: 2px;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
  top: -20px;
  font-size: 14px;
  opacity: 0.5;
  color: rgb(140, 0, 255);
  font-family: 'Courier New', Courier, monospace;
}


.inputUsers:focus~.labelInputs,
.inputUsers:valid~.labelInputs {
  top: -20px;
  font-size: 15px;
  opacity: 0.5;
}


textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 1px solid rgb(0, 26, 255);
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
  box-shadow: 0 0 0 1000px rgba(255, 84, 4, 0);
  transition: background-color 5000s ease-in-out 0s;
}


.campo-email button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  background-color: rgb(112, 3, 112);
  border: 1px solid rgb(112, 3, 112);
  width: 100%;
  max-width: 90%;
}


.campo-email button:hover {
  background-color: rgb(197, 18, 197);
  border: 1px solid darkmagenta;
}








/*********  botao ****************/


.botaosubir button {
  position: fixed;
  left: 10px;
  bottom: 15px;
  border: none;
  background-color: #0077ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bolder;
  z-index: 1000;
  animation: flow 3S ease-in-out infinite;
  filter: drop-shadow(8px 8px 4px rgb(17, 17, 17));
}

.botaosubir button a {
  color: black;
  text-decoration: none;
}


@keyframes flow {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-10px);
  }


}

/**********mapa*************/
.mapa {

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background:rgba(135, 152, 209, 0.877);
}
.text-mapa{
  text-align: center;
  width: 50%;
  height: 200px;
  text-transform: capitalize;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;  
  background-image: url(img/localização.png);
  background-repeat: no-repeat;
  background-position:  center 100px;
  filter: drop-shadow(2px 2px 2px  rgb(109, 61, 221));

  
}
.text-mapa:hover{
  animation: seta  2s ease-in-out ;
  background-image: url(img/localização2.png);
  font-size: 1px;
}


@keyframes seta {
  0%{
    transform: rotateY(360deg); 
    
  }
}


.mapa iframe{
  width: 50%;
  height: 350px;
  
}




@media (max-width: 999px) {

  body {
    overflow-x: hidden;
  }


  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 82vh;
    background: linear-gradient(180deg, rgb(99, 1, 1), rgb(0, 0, 0));
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-100000%);
    /*valor origanal 100 mas da barra de rolagem*/
    transition: transform 0.03s ease-in;
    z-index: 1;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .card-container {
    /*fundo vermelho*/
    width: 350px;
    height: 300px;

  }

  .cardd {
    height: 110px;
    width: 45%;
  }

  .card__image {
    /*imagem*/
    width: 350px;
    height: 300px;

  }

}

@media (max-width: 999px) {

  /*modificar as posições*/

}