* {
  user-select: none;
  /*desativa a seleção*/

}

.login_form {
  display: flex;
  /* fica no lado*/
  flex-direction: column;
  /* coluna*/
  align-self: center;
  height: 100vh;
  background-image: linear-gradient(rgb(201, 194, 194), grey);
  justify-content: center;
  /* X Y*/
}

.login_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login_header img {
  width: 100px;
}

.login_header h1 {
  color: black;
  font-weight: 1.5rem;
}

.login_input {
  border: none;
  border-bottom: 2px solid blue;
  background-color: transparent;
  display: flex;
  text-align: center;
  outline: none;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 0.2em black, 0 0 0.2em black;
  padding: 10px;
}

.login_button {
  background-color: rgb(21, 255, 0);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  color: azure;
  font-weight: bolder;
  font-size: 1.5rem;
  max-width: 300px;
  padding: 10px;
}

.login_button:disabled {
  /* botao desabilitado*/
  opacity: 0.5;
  background-color: grey;
}

.login_input::placeholder {
  color: white;
}

/*  ranking local // online***************** */
.placar {
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  /* direção coluna */
  justify-content: center;
  /*centraliza no eixo x*/
  align-items: center;
  /* centraliza no eixo y*/
  padding: 15px;
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.315);
  box-shadow: -10px 10px 10px 10px;
  top: 0;
  transition: top ease 0.5s;
}

.rankinglocal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;


}

.placar:hover {
  top: -50px;
}



.placar h6 {
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(255, 0, 149);
  font-weight: bolder;
  display: flex;
  position: relative;
  flex-direction: column;
  /* direção coluna */
  justify-content: center;
  /*centraliza no eixo x*/
  align-items: center;
  /* centraliza no eixo y*/
  color: grey;
  font-family: monospace;


}

/*  ranking local ***************** */

.personagem {
  filter: drop-shadow(8px 2px 4px rgb(128, 128, 128));
}

.personagem:hover {
  animation: rotate 2s infinite;
  filter: drop-shadow(8px 2px 4px rgb(255, 0, 0));
}

@keyframes rotate {
  0% {
    transform: rotateX(360deg);
    transform: rotateY(360deg);
    filter: drop-shadow(8px 2px 4px rgb(25, 0, 255));
  }
}



.jump {
  animation: pulo 2s;
}

@keyframes pulo {
  0% {
    transform: translateY(-50px);

  }
}

/*****RANKING***/


table {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 15px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;

}

tr:nth-child(2) {
  background-color: #ffd700;
  background-image: url('../img/p1.png');
  background-repeat: no-repeat;
  background-position: left, 100%;

}


tr:nth-child(3) {
  background-color: #c0c0c0;
  background-image: url('../img/p2.png');
  background-repeat: no-repeat;
  background-position: left, 100%;
}

tr:nth-child(4) {
  background-color: #cd7f32;
  background-image: url('../img/p3.png');
  background-repeat: no-repeat;
  background-position: left, 100%;
}

td {
  text-align: center;
  padding: 5px;

}

th {
  padding: 3px;
}